

.whb-header-bottom .wd-dropdown {
	margin-top: 5px;
}

.whb-header-bottom .wd-dropdown:after {
	height: 15px;
}


.whb-header .whb-header-bottom .wd-header-cats {
	margin-top: -1px;
	margin-bottom: -0px;
	height: calc(100% + 1px);
}


@media (min-width: 1025px) {
	
		.whb-general-header-inner {
		height: 104px;
		max-height: 104px;
	}

		.whb-sticked .whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}
		
		.whb-header-bottom-inner {
		height: 50px;
		max-height: 50px;
	}

		.whb-sticked .whb-header-bottom-inner {
		height: 50px;
		max-height: 50px;
	}
		
	
	}

@media (max-width: 1024px) {
	
		.whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}
	
	
	
	}
		
.whb-top-bar {
	background-color: rgba(255, 255, 255, 1);
}

.whb-general-header {
	border-color: rgba(129, 129, 129, 0.2);border-bottom-width: 1px;border-bottom-style: solid;
}
.whb-xfd0q90f12ce81wo6kef .menu-opener { background-color: rgba(255, 255, 255, 1); }.whb-xfd0q90f12ce81wo6kef .menu-opener { border-color: rgba(230, 230, 230, 1);border-bottom-width: 1px;border-bottom-style: solid;border-top-width: 1px;border-top-style: solid;border-left-width: 1px;border-left-style: solid;border-right-width: 1px;border-right-style: solid; }.whb-xfd0q90f12ce81wo6kef.wd-more-cat:not(.wd-show-cat) .item-level-0:nth-child(n+9):not(:last-child) {
				    display: none;
				}.
				wd-more-cat .item-level-0:nth-child(n+9) {
				    animation: wd-fadeIn .3s ease both;
				}