#slider-31 .wd-slide {
	min-height: 430px;
}

@media (max-width: 1024px) {
	#slider-31 .wd-slide {
		min-height: 275px;
	}
}

@media (max-width: 767px) {
	#slider-31 .wd-slide {
		min-height: 205px;
	}
}
